<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.nacelle_rent.dao.SuperAdminMapper">
    <resultMap id="superAdminResultMap" type="com.manager.nacelle_rent.entity.SuperAdmin">
        <result property="superAdminId" column="super_admin_id" />
        <result property="superAdminPassword" column="super_admin_password" />
    </resultMap>

    <select id="getSuperAdminById" parameterType="String" resultMap="superAdminResultMap">
        select super_admin_password
        from superadmin_info
        WHERE  super_admin_id= #{superAdminId}
    </select>
</mapper>