<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.nacelle_rent.dao.WebAdminMapper">
    <resultMap id="webAdminResultMap" type="com.manager.nacelle_rent.entity.WebAdmin">
        <result property="webAdminId" column="web_admin_id" />
        <result property="webAdminPassword" column="web_admin_password" />
        <result property="webAdminFlag" column="web_admin_flag" />
    </resultMap>

    <select id="getWebAdminById" parameterType="String" resultMap="webAdminResultMap">
        select web_admin_password
        from webadmin_info
        WHERE  web_admin_id= #{webAdminId}
    </select>
</mapper>